
$shadow: var(--blue) 0 2px 4px;
$header-height: 86px;
$header-height-desktop: 145px;
 
$small-break: 375px;
$plus-break: 414px;
$break: 768px;
// ipad air 5th gen, ipad 10th gen: 820px;
$ipad: 820px;
$large-break: 1024px;

$content-width: 900px;
$wide-width: 1200px;

$admin-bar: 46px;
$admin-bar-desktop: 32px;

$fw-extralight: 200;
$fw-light: 300;
$fw-regular: 400;
$fw-medium: 500;
$fw-semibold: 600;
$fw-bold: 700;
$fw-extrabold: 800;
$fw-black: 900; 

